.App {
    font-family: sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  body {
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/084/926/original/wallpaperflare.com_wallpaper_%281%29.jpg?1686272580);
    background-size: cover;
  }
  
  h1 {
    display: block;
    text-align: center;
  }
  h2 {
    display: block;
    text-align: center;
  }
  ul {
    text-align: center;
  }
  .c-temp {
    display: block;
    text-align: center;
  }
  .container {
    margin-top: 200px;
    max-width: 50%;
    max-height: 100%;
    padding: 40px 20px;
    opacity: 70%;
    text-align: center;
  }
  .f-temp {
    display: block;
    text-align: center;
  }
  .search-form {
    display: block;
    padding: 20px 10px;
    margin-right: auto;
    text-align: center;
  }
  .sun-pic {
    margin: 0 auto;
    max-width: 5%;
    display: block;
    text-align: center;
  }
  @media only screen and (max-width: 480px) {
    img {
      width: 100%;
    }
  }
  